<div class="body-background">
  <div class="large-title" style="margin-top: 0px">About Us</div>
​
  <div class="detail-text-medium">
  There's one force factor that's driving web innovation above all others today: APIs. We're addicted to them, and our users are too! <br><br>
  ​
  Our service allows users to create an account, post new APIs to share, then gives other users the opportunitiy to rate, review, and upvote them.
  </div>
  ​
  <div class="medium-title">Features</div>
  <div class="detail-text-medium">
    <ul>
      <li>User signs up</li>
      <li>User uploads a profile picture</li>
      <li>User adds an API</li>
      <li>User reviews existing API</li>
      <li>User upvotes or downvotes API (user can only vote once)</li>
      <li>API creater recieves email when someone reviews their</li>
      <li>Admin deletes content they deem innapopropriate</li>
      <li>Admin deletes user account if they violate terms of use</li>
    </ul>
  </div>
  ​
  <div class="medium-title">Technologies Utilized</div>
  <div class="detail-text-medium">
    <ul>
      <li> Rails</li>
      <li>Ajax</li>
      <li>JQuery</li>
      <li>Devise (User Authentication)</li>
      <li>CarrierWave (Photo Uploads)</li>
      <li>Will_Paginate (Pagination)</li>
      <li>Amazon S3 Service</li>
      <li>Factory_Girl (Test Data)</li>
      <li>Mailgun (ActionMailer)</li>
    </ul>
  </div>
  ​
  <div class="medium-title">Authors</div>
  <div class="detail-text-medium">
    <ul>
      <li>Matt Thompson</li>
      <li>Brett Mordas</li>
      <li>Majid Ihsan</li>
      <li>Eric Fournier</li>
    </ul>
  </div>
</div>
