<h1> API Index Page </h1>

<ul class="apis">
  <% @apis.each do |api| %>
    <h3><%=link_to(api.name, api_path(api))%></h3>
    <li>
      <%= "#{api.description}" %> <br />
      <%= "Posted By: #{api.user.first_name} #{api.user.last_name}" %>
    </li>
  <% end %>
</ul>

<%= will_paginate @apis %>
