<h1> API Index Page </h1>

<ul class="apis">
  <% @apis.each do |api| %>
    <h3><%=link_to(api.name, api_path(api))%></h3>
      <li style="margin-bottom: 10px;"><%= "#{api.description}" %></li>
      <ul style="margin-bottom: 30px;"><%= "Posted By: #{api.user.first_name}
        #{api.user.last_name}" %></ul>
  <% end %>
</ul>
