.arrow-up {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #008000;
  width: 0;
  height: 0;
}

.arrow-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #B0171F;
  width: 0;
  height: 0;
}
